name: Build Xtensa Rust toolchain

on:
  workflow_dispatch:
    inputs:
      upload_artifacts:
        description: "Upload final artifacts to Release?"
        required: true
        default: "yes"
      rust_build_branch:
        description: "Branch of rust-build to use"
        required: true
        default: "build/1.73.0.0"
      release_version:
        description: "Release Version for generation"
        required: true
        default: '1.73.0.0'
      rust_version:
        description: "Version of esp rust to use"
        required: true
        default: "nightly"
      release_tag:
        description: "Tag used for uploading (e.g. v1.73.0.0, untagged-00000)"
        required: true
        default: "untagged-06704172812884cde852"

jobs:
  launch_workflows:
    name: ${{ matrix.workflow_name.target }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        workflow_name:
          - target: aarch64-unknown-linux-gnu
            workflow: build-rust-aarch64-unknown-linux-gnu-self-hosted-dispatch.yaml

        #   "build-rust-aarch64-apple-darwin-self-hosted-dispatch",
        #   "build-rust-aarch64-unknown-linux-gnu-self-hosted-dispatch",
        #   "build-rust-x86_64-apple-darwin-self-hosted-dispatch.",
        #   "build-rust-x86_64-pc-windows-gnu-self-hosted-dispatch",
        #   "build-rust-x86_64-pc-windows-msvc-self-hosted-dispatch",
        #   "build-rust-x86_64-unknown-linux-gnu-self-hosted-dispatch"
        # ]

    steps:
      - uses: actions/checkout@v4
      - name: Run ${{ matrix.workflow_name }} workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/4476169/dispatches \
            -d '{"ref":"${{ github.event.inputs.rust_build_branch }}", "inputs": { "upload_artifacts":"${{ github.event.inputs.upload_artifacts }}", "rust_build_branch":"${{ github.event.inputs.rust_build_branch }}", "release_version":"${{ github.event.inputs.release_version }}", "rust_version":"${{ github.event.inputs.rust_version }}", "rust_target":"${{ matrix.workflow_name.target }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
