name: Xtensa Rust | rust-src

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Xtensa Rust release version to build"
        required: true
        default: '1.89.0.0'
      release_tag:
        description: "Release tag where artifacts will be stored (e.g. v1.89.0.0, untagged-00000)"
        required: true
        default: "v1.89.0.0"

jobs:
  get_release:
    name: Get release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.get_upload_url.outputs.url }}
    steps:
      - uses: octokit/request-action@v2.x
        id: get_release
        with:
          route: GET /repos/esp-rs/rust-build/releases/tags/${{ github.event.inputs.release_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: get upload url
        id: get_upload_url
        run: |
          url=$(echo "$response" | jq -r '.upload_url')
          echo "url=$url" >> $GITHUB_OUTPUT
        env:
          response: ${{ steps.get_release.outputs.data }}

  build-xtensa-rust:
    name: Build Xtensa rust-src
    needs: get_release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            ASSET_PATH: "rust/build/dist/rust-src-nightly.tar.xz"
            ASSET_NAME: "rust-src-${{ github.event.inputs.release_version }}.tar.xz"
            ASSET_CONTENT_TYPE: "application/x-tar"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          repository: esp-rs/rust
          ref: esp-${{ github.event.inputs.release_version }}
          submodules: true
          path: "rust"
      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Configure Rust project
        working-directory: rust
        run: |
          python3 src/bootstrap/configure.py --experimental-targets=Xtensa --release-channel=nightly --release-description="${{ github.event.inputs.release_version }}" --enable-extended --dist-compression-formats='xz'
      - name: Build Rust src dist
        working-directory: rust
        run: |
          python3 x.py dist rust-src
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.get_release.outputs.upload_url }}
          asset_path: ${{ matrix.ASSET_PATH }}
          asset_name: ${{ matrix.ASSET_NAME }}
          asset_content_type: ${{ matrix.ASSET_CONTENT_TYPE }}
