name: Build Xtensa Rust toolchain

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Xtensa Rust release version to build"
        required: true
        default: '1.73.0.1'
      release_tag:
        description: "Release tag where artifacts will be stored (e.g. v1.73.0.1, untagged-00000)"
        required: true
        default: "untagged-3ecdd54e672f465cad2e"
      aarch64-apple-darwin:
        description: "aarch64-apple-darwin"
        type: boolean
        required: true
        default: true
      aarch64-unknown-linux-gnu:
        description: "aarch64-unknown-linux-gnu"
        type: boolean
        required: true
        default: true
      x86_64-apple-darwin:
        description: "x86_64-apple-darwin"
        type: boolean
        required: true
        default: true
      x86_64-pc-windows-gnu:
        description: "x86_64-pc-windows-gnu"
        type: boolean
        required: true
        default: true
      x86_64-pc-windows-msvc:
        description: "x86_64-pc-windows-msvc"
        type: boolean
        required: true
        default: true
      x86_64-unknown-linux-gnu:
        description: "x86_64-unknown-linux-gnu"
        type: boolean
        required: true
        default: true
      rust-src:
        description: "rust-src"
        type: boolean
        required: true
        default: true

jobs:
  aarch64-apple-darwin:
    if: github.event.inputs.aarch64-apple-darwin == true
    name: aarch64-apple-darwin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run aarch64-apple-darwin workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-aarch64-apple-darwin.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  aarch64-unknown-linux-gnu:
    if: github.event.inputs.aarch64-unknown-linux-gnu == true
    name: aarch64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run aarch64-unknown-linux-gnu workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-aarch64-unknown-linux-gnu.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  x86_64-apple-darwin:
    if: github.event.inputs.x86_64-apple-darwin == true
    name: x86_64-apple-darwin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run x86_64-apple-darwin workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-x86_64-apple-darwin.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  x86_64-pc-windows-gnu:
    if: github.event.inputs.x86_64-pc-windows-gnu == true
    name: x86_64-pc-windows-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run x86_64-pc-windows-gnu workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-x86_64-pc-windows-gnu.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  x86_64-pc-windows-msvc:
    if: github.event.inputs.x86_64-pc-windows-msvc == true
    name: x86_64-pc-windows-msvc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run x86_64-pc-windows-msvc workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-x86_64-pc-windows-msvc.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  x86_64-unknown-linux-gnu:
    if: github.event.inputs.x86_64-unknown-linux-gnu == true
    name: x86_64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run x86_64-unknown-linux-gnu workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-x86_64-unknown-linux-gnu.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
  rust-src:
    if: github.event.inputs.rust-src == true
    name: rust-src
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run rust-src workflow
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/esp-rs/rust-build/actions/workflows/build-rust-src.yaml/dispatches \
            -d '{"ref":"${{ github.ref_name }}", "inputs": { "release_version":"${{ github.event.inputs.release_version }}", "release_tag":"${{ github.event.inputs.release_tag }}" }}'
