name: Publish IDF-Rust Tags

on:
  workflow_dispatch:
    inputs:
      rust-build-branch:
        description: "Branch of rust-build to use"
        required: true
        default: "main"
      toolchain-version:
        description: "Version of Rust toolchain"
        required: true
        default: "1.65.0.0"

jobs:
  esp-idf:
    name: ${{ matrix.board }}_${{ matrix.esp-idf.name }}_${{ github.event.inputs.toolchain-version }} tag
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-m1-self-hosted]
        board: ["esp32", "esp32s2", "esp32s3", "esp32c3", "all"]
        esp-idf:
          - name: v4.4
            branch: release/v4.4
            template-name: v4.4
          - name: master
            branch: master
            template-name: mainline
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10
      - name: Build Docker image
        if: matrix.board != 'all'
        run: |
          docker image build --tag idf-rust:${{ matrix.board }}_${{ matrix.esp-idf.name }}_${{ github.event.inputs.toolchain-version }} \
           --file idf-std-rust.Containerfile --build-arg XTENSA_TOOLCHAIN_VERSION=${{ github.event.inputs.toolchain-version }} \
           --build-arg ESP_IDF_VERSION=${{ matrix.esp-idf.branch }} --build-arg ESP_BOARD=${{ matrix.board }} .
      - name: Build template project using generated tag
        if: matrix.board != 'all'
        run: |
          docker run --user esp --mount type=bind,source="$(pwd)/build-template-project.sh",target=/workspace/build-template-project.sh,consistency=cached \
                 --rm idf-rust:${{ matrix.board }}_${{ matrix.esp-idf.name }}_${{ github.event.inputs.toolchain-version }} /bin/bash /workspace/build-template-project.sh esp-idf-template ${{ matrix.board }} ${{ matrix.esp-idf.template-name }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and publish tag
        uses: docker/build-push-action@v2
        with:
          context: .
          file: idf-std-rust.Containerfile
          build-args: |
            XTENSA_TOOLCHAIN_VERSION=${{ github.event.inputs.toolchain-version }}
            ESP_IDF_VERSION=${{ matrix.esp-idf.branch }}
            ESP_BOARD=${{ matrix.board }}
          tags: espressif/idf-rust:${{ matrix.board }}_${{ matrix.esp-idf.name }}_${{ github.event.inputs.toolchain-version }},espressif/idf-rust:${{ matrix.board }}_${{ matrix.esp-idf.name }}_latest
          push: true
          platforms: linux/amd64, linux/arm64
  bare-metal:
    name: ${{ matrix.board }}_${{ github.event.inputs.toolchain-version }} tag
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board: ["esp32", "esp32s2", "esp32s3", "esp32c3", "all"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 10
      - name: Build Docker image
        if: matrix.board != 'all'
        run: |
          docker image build --tag idf-rust:${{ matrix.board }}_${{ github.event.inputs.toolchain-version }} \
           --file idf-nostd-rust.Containerfile --build-arg XTENSA_TOOLCHAIN_VERSION=${{ github.event.inputs.toolchain-version }} \
           --build-arg ESP_BOARD=${{ matrix.board }} .
      - name: Build template project using generated tag
        if: matrix.board != 'all'
        run: |
          docker run --user esp --mount type=bind,source="$(pwd)/build-template-project.sh",target=/workspace/build-template-project.sh,consistency=cached \
                 --rm idf-rust:${{ matrix.board }}_${{ github.event.inputs.toolchain-version }} /bin/bash /workspace/build-template-project.sh esp-template ${{ matrix.board }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build - ${{ matrix.board }}_${{ github.event.inputs.toolchain-version }} tag
        uses: docker/build-push-action@v2
        with:
          context: .
          file: idf-nostd-rust.Containerfile
          build-args: |
            XTENSA_TOOLCHAIN_VERSION=${{ github.event.inputs.toolchain-version }}
            ESP_BOARD=${{ matrix.board }}
          tags: espressif/idf-rust:${{ matrix.board }}_${{ github.event.inputs.toolchain-version }},espressif/idf-rust:${{ matrix.board }}_latest
          push: true
          platforms: linux/amd64, linux/arm64
